extends ./components/index
block link
  - var activeLink = 'home'
append body
  include ./mixins/homeMixins
  +firstSwiper
  +surpresa
  include ./components/newsletter
  +vantagens
  +realize
  +apartamentos
  
