footer.footer
  include ./maps.pug
  include ./swiper.pug
  include ./siteMap.pug
  .footer__block-krush
    p.footer__block-krush__text Copyright Todos os direitos reservados.
    p.footer__block-krush__text--dev Desenvolvido por
      img.footer__block-krush__img(src='image/footer/krush-logo.png')
script(src='js/jquery.js')
script(src='js/selectric.js')
script(src='js/swiper.js')
script(src='js/main.js')
