include ../mixins/mixins.pug
head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  link(rel="stylesheet" href="css/main.css")
  title Lumarj
block link
header.header
  .header__block-color
    .header__wrapper
      .header__block
        p Rio 3674 3999  |  Niterói 2620 2280
      .header__block--boleto
        p 2ª Via de boleto
      .header__block
        p Área do cliente
      .header__block--social
        a.header__img( href='#' target='_blank')
          img.header__block__img(src='image/header/face.png')
        a( href='#' target='_blank')
          img.header__block__img(src='image/header/linkedin.png')
  .header__wrapper
    .main_hamburger
      span
      span
      span
      span
    a.header__img(href='/home.html')
      img(src='image/header/logo.png')
    .header__search
      select#selectComprar.header__search__select
        option Comprar
      select#selectApartamento.header__search__select
        option Apartamento
      select#selectBairro.header__search__select
        option Bairro
      button#buscarButton.header__search__button Buscar
  nav.header__wrapper
    ul.header__list
      .hamburger__close X
      - var texts = [ 'home', 'Lumarj', 'Condomínios', 'Vendas', 'Locação', 'Trabalhe conosco', 'Contato'  ]
      - var links = [ 'home.html', 'lumarj.html', 'condominios.html', 'vendas.html', 'locacao.html', 'trabalhe-conosco.html', 'contato.html' ]
      - for ( var i = 0; i < texts.length; i++ ) {
        +linksHome(texts[i],links[i], activeLink)
      - }
