.maps
  .maps__block-video
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.199637216743!2d-43.11532038451495!3d-22.906006243603066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983e10dbc257b%3A0x99ae9aaf2732c913!2sR.+Pres.+Backer%2C+9+-+Icara%C3%AD%2C+Niter%C3%B3i+-+RJ%2C+24220-041!5e0!3m2!1spt-BR!2sbr!4v1504377744065', width='50%', height='450', frameborder='0', style='border:0', allowfullscreen='')
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.309810531479!2d-43.34633198451444!3d-22.93881464478282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd836d254ca6b%3A0x72c1f3af68893f0!2sAv.+Gerem%C3%A1rio+Dantas%2C+1389+-+Freguesia+(Jacarepagu%C3%A1)%2C+Rio+de+Janeiro+-+RJ%2C+22760-400!5e0!3m2!1spt-BR!2sbr!4v1504377820669', width='50%', height='450', frameborder='0', style='border:0', allowfullscreen='')
