.newsletter
  h2.newsletter__text Assine nossa newsletter e fique por dentro das últimas notícias e novidades
  .newsletter__form
    input#newsletterEmail.newsletter__form__input( placeholder='E-mail' )
    button#newsletterButton.newsletter__form__button Enviar
